  <%= form_for @spit, remote: true, id: "new_spit" do |f| %>
    <div class="form-group">
      <%= f.text_field :text, class: 'form-control', placeholder: "what's the beat?" %>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "spit", :class => "btn btn-primary" %>
  <% end %>

