<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <h1 class='white'>Spitter</h1>

  <% if @spits_collection %>
    <% @spits_collection.each do |spit| %>
        <div class="panel panel-default">
          <div class="panel-body"><b><%= link_to "@#{spit.user.user_name}", user_path(spit.user) %></b><br /><%= spit.text %></div>
          <div class="panel-footer"><%= spit.date_string %></div>
        </div>
    <% end %>
  <% end %>

  <%= link_to "Spit a new spit", new_spit_path, :remote => true, :id => "new_spit_link" %>
  </div>
  <div class="col-md-2"></div>
</div>
